.plano{
    padding: 10px;
    border: 1px solid #a8a8a8;
    margin-bottom: 5%;

    font-size: 1.6rem;
    text-align: center;
    line-height: 25px;
}

.plano__cabecalho{
    background-color: #A8A8A8FF;
    color: whitesmoke;

    text-align: center;
    line-height: 2.5;

    margin: -10px;
    margin-bottom: 0;

    font-weight: normal;
    font-size: 1.75em;
}

.plano__preco{
    margin: 20px 0;

    font-size: 1.5em;
}

.planos__caracteristicas{
    list-style: none;

    margin: 20px 0;
    padding: 0;
}

.button{
    display: inline-block;

    border: 1px solid #aaaaaa;
    border-radius: 7px;

    background-color: #aaaaaa;
    color: whitesmoke;
    text-decoration: none;

    padding: 10px 18px;
}

.button:hover, .button:focus{
    text-decoration: none;
    color: whitesmoke;
}
.button--sign{
    border: 1px solid #085A97;

    background-color: #085A97;
}

.button--sign:hover, .button--sign:focus{
    background-color: #07497a;

}
.button--prin{
    border: 1px solid #085A97;

    background-color: #085A97;
}

.button--prin:hover, .button--prin:focus{
    background-color: #07497a;
}
.chamada{
    font-size: 1.6rem;
    text-align: center;
}

.chamada__titulo{
    margin: 0;

    color: white;
    font-size: 3.375em;
    text-shadow: 1px 1px #313131;

    line-height: 0.9;
}

.chamada__subtitulo{
    margin: 60px 0;

    color: white;

    font-size: 1.2em;
}

.depoimento{
    font-size: 2.2rem;
}

.depoimento > blockquote{
    margin: 0;
    padding: 0 60px;

    text-align: center;
    font-size: 1em;
}

.depoimento__autor{
    margin-top: 40px;

    text-align: center;
    font-size: 0.9em;
}

.depoimento__autor > img{
    border-radius: 50%;
}

.depoimento__autor > p{
    margin-top: 10px;
}

.rodape__direitos{
    color: white;

    text-align: center;

    font-size: 1.1rem;
}
@media (min-width: 992px) {
    .chamada{
        padding-left: 10%;
        padding-right: 10%;

        font-size: 2.2rem;
    }

    .depoimento{
        padding-left: 15%;
        padding-right: 15%;

        font-size: 2.8rem;
    }
}

.rodape__info{
    margin: 0;
    padding: 20px;

    font-size: 1.4rem;

    text-align: left;
}

.rodape__info__titulo{
    color: #A1BCD1;

}

.rodape__info__opcoes{
    list-style: none;

    color: #D0D0D0;
    line-height: 10px;

    font-size: 1em;
}

.rodape__direitos{
    padding: 10px 0;
    background-color: #1D1D1D;
}

.rodape__info__opcoes > h2{
    font-size: 1em;
}

.rodape__info__opcoes__img{
    padding: 10px 0;
}

.rodape__info__opcoes__img > div{
    padding: 0 7px;
    display: inline-block;
}